// .skills-section {
//   opacity: 0;
//   overflow: hidden;
//   align-self: start;
//   white-space: nowrap;
//   margin-left: 30px;
//   width: 560px;
//   animation: opac 3.5s forwards;
//   position: relative;
//   z-index: 999999;
// }

// .skills {

//   display: inline-block;
//   animation: slide 5s infinite linear;

// }

// .skills-logo {
//   display: inline-block;
//   white-space: nowrap;
//   padding: 0 30px;
//   height: 50px;

// }




// //highlight
// .highlighted-wrapper {
//   top: 0;
//   left: 0;
//   position: absolute;
//   width: 70px;
//   border: 1px solid wheat;
//   overflow: hidden;
// }

// .highlighted-skills {

//   display: inline-block;

//   color: red;
//   white-space: nowrap;
//   animation: slide 15s infinite linear;
// }

// .highlighted-skills__logo {
//   display: inline-block;
//   white-space: nowrap;
//   padding: 0 30px;
// }

// @keyframes slide {
//   from {
//     transform: translateX(0);
//   }

//   to {
//     transform: translateX(-100%);
//   }
// }

// @keyframes opac {
//   100% {
//     opacity: 1;
//   }
// }
.logos {
  width: 470px;
  display: flex;

  overflow: hidden;
  align-self: flex-start;
  position: relative;
}

.logos-slide {
  display: flex;

  animation: slide 15s infinite linear;
}
.logos-slide div{
  filter: grayscale(1);
}
.logos-slide div,
.logos-slide__highlight div {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-slide div:nth-child(1),
.logos-slide__highlight div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logos-slide div img {
  display: block;
  min-width: 60px;
}
.logos-slide__highlight div img{
  display: block;
  min-width: 60px;
}
@keyframes slide {
  100% {
    transform: translateX(-100%);
  }
}
.highlight-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 62px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  border-right: 1px solid white;
}
.logos-slide__highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 15s infinite linear;
}

.logos-wrapper{
  margin-left: 30px;
  display: flex;
  align-items: center;
  align-self: flex-start;

}
.skill-title{
  display: flex;
  font-family: "Kode Mono", monospace;
  font-size: 20px;
  align-items: center;
  padding-right: 20px;
  height: 100%;
  border-right:1px solid white ;
}