.header {
  position: fixed;
  left: 0;
  width: 100px;
  background-color: black;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  &.animate {
    animation: welcome 2.5s linear forwards;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100%;
  }

  &-menu__item {
    writing-mode: vertical-rl;
    font-size: 18px;
    cursor: pointer;
    // background-color: red;
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@keyframes welcome {
  100% {
    opacity: 1;
  }
}