@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
}


body {
  background: linear-gradient(60deg,
      #000000,
      #222222,
    );
  height: 100vh;
  color: white;
  background-attachment: fixed;
}
